{% extends 'base.html' %}

{% block spotify %}

<section class="page-section portfolio" id="portfolio">
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                {% for  element in  d %}
                    <!-- Portfolio Items-->
                    <div class="col-md-12 col-lg-2 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal0">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="../static/assets/img/portfolio/cabin.png" alt="Log Cabin">
                                <div class="text-block">
                                    <h2 class="portfolio-modal-title text-dark mb-0">
                                        {{ element.playlist_name }}
                                    </h2>
                                </div>
                            </img>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </section>

{% endblock %}